## Test prisoner's dilemma games

In [1]:
import numpy as np
from player import Player
import strategies
from game import Game
from tournament import Tournament

%load_ext autoreload
%autoreload 2

In [2]:
# make players
always_coop = Player(strategies.always_cooperate)
always_defect = Player(strategies.always_defect)
random = Player(strategies.random)
tit_for_tat = Player(strategies.tit_for_tat)
tit_for_2_tats = Player(strategies.tit_for_2_tats)
Friedman = Player(strategies.Friedman)
Joss = Player(strategies.Joss)
Tester = Player(strategies.Tester)

# point matrix
both_cooperate = np.array([3, 3])
both_defect = np.array([1, 1])
mixed = np.array([5, 0])
point_matrix = np.array([[both_cooperate, mixed[::-1]],
                         [mixed, both_defect]])

In [3]:
players = [always_coop, always_defect, random, tit_for_tat,
           tit_for_2_tats, Friedman, Joss, Tester]
tournament = Tournament(players, point_matrix, 200)

In [4]:
tournament.play_tournament()

In [5]:
display(tournament.games[(Joss.name, Friedman.name)].get_score_board())

,player,score,1,2,3,4,5,6,7,8,...,191,192,193,194,195,196,197,198,199,200
0,FRIEDMAN,231.0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,JOSS,231.0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [6]:
win_counts = [player.win_count for player in tournament.players]
most_wins = tournament.players[np.argmax(np.array(win_counts))]
print(f'most wins = {most_wins.name}')

most wins = ALWAYS_DEFECT

In [7]:
for player in tournament.players:
    print(f'{player.name} = {player.total_points}')

ALWAYS_COOPERATE = 4134.0
ALWAYS_DEFECT = 3004.0
RANDOM = 3846.0
TIT_FOR_TAT = 4479.0
TIT_FOR_2_TATS = 4252.0
FRIEDMAN = 4302.0
JOSS = 2995.0
TESTER = 4109.0

In [8]:
display(tournament.games[Joss.name, tit_for_2_tats.name].get_score_board())

,player,score,1,2,3,4,5,6,7,8,...,191,192,193,194,195,196,197,198,199,200
0,TIT_FOR_2_TATS,385.0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,JOSS,455.0,0,0,0,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1